button{
    height: 35px;
    text-align: left;
    border: none;
    background-color: black;
    color: rgba(255, 255, 255, 0.761);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 25px 17px;
    gap: 15px;
    font-weight: 500;

    transition: all 0.5s ease;
    border-radius: 40px;
    color: white;
}

button:hover{
    background-color: rgba(255, 255, 255, 0.145);
}
.postButton{
    font-weight:600;
    margin-top: 6px;
    width: 250px;
    background-color: rgba(255, 255, 255, 0.887);
    color: black;
}

.postButton:hover{
    background-color: rgba(255, 255, 255, 0.887);
}
